@import "./../../scss/global";

.services {
  @include fullScreen();
  @include flex();
  // background-color: $primary;

  .child {
    @include fullRatio($h: 90%);
    @include flex(space-between);



    .right {
      width: 50%;
      height: 100%;
      padding: 0;
      @include flex(space-between, center, row);
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
      &::-webkit-scrollbar {
          width: 0px;
        }
        
        /* Track */
        &::-webkit-scrollbar-track {
          border-radius: 0px;
        }
         
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: transparent; 
        }
        
        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: transparent; 
        }
  
      .boxes {
        width: 90%;
        height: auto;
        @include flex(center, center, column);
        gap: 3rem;
        padding: 2% 0px;
        // overflow: scroll;
        
      }

        .line {
      // background-color: blue;
          width: 10%;
        height: 2%;
        transform: rotate(90deg);
        position: sticky;
        top: 80%;
        right: 2%;
        color: grey;
        &::before {
            content: '';
            width: 36rem;
            height: 12%;
            position: absolute;
            background-color: grey;
            inset: 0;
            left: -36.5rem;
            top: 55%;
          }
      }
    }
  }
}
